ion-content{
    min-height: 98vh;
}
.errorMsg {
    font-size: 0.8rem;
    color: rgb(187, 3, 3);
}

.signUp{
    margin-top: 5vh;
    color: var(--ion-color-primary);
}

.marginTop{
    margin-top: 5vh;
}